@media (max-width: 1439px) {

}

@media (max-width: 1200px) {
	.container {
		max-width: 960px;
	}
	.course {
		&__wrapper {
			grid-template-rows: repeat(2,60px);
    		grid-row-gap: 10px;
    		grid-template-columns: repeat(3,229px);
		}
	}
	.prengi {
		&__wrapper {
		    grid-template-columns: repeat(2,355px);
		    grid-row-gap: 25px;
		}
	}
	.footer {
		&__wrapper {
			    grid-template-columns: 370px 269px 140px 148px;
		}
	}
}

@media (max-width: 992px) {
	.container {
		max-width: 720px;
	}
	.promo {
		&__icon {
			display: none;
		}
	}
	.give {
		&__wrapper {
		    width: 100%;
		    padding-left: 10px;
    		padding-right: 10px;
		}
		&__items {
			width: 100%;
		}
	}
	.give .sim-slider-element img {
	    width: 690px;
	    height: 450px;
	}
	.repository {
		&__wrapper {
			grid-template-columns: repeat(1,auto);
		}
	}
	.footer {
		&__wrapper {
			grid-template-columns: 370px 269px;
			grid-row-gap: 20px;
		}
	}
}

@media (max-width: 768px) {
	.container {
		max-width: 540px;
	}
	.course {
		&__wrapper {
			grid-template-columns: repeat(2,229px);
		}
	}
	.header {
		&__items {
			display: none;
		}
	}
	.hamburger {
		display: block;
	}
	.prengi {
		&__wrapper {
		    grid-template-columns: repeat(1,355px);
		    grid-row-gap: 25px;
		    padding-left: 90px;
		}
	}
	.give .sim-slider-element img {
	    width: 485px;
	    height: 300px;
	}
	.give .sim-slider {
	    height: 330px;
	    margin-top: 100px;
	}

	.give {
		&__header {
			font-size: 23px;
		}
		&__item {
			padding-top: 3px;
			padding-right: 12px;
			height: 33px;
			a {
				font-size: 11px;
			}
		}
		&__wrapper {
			height: 49px;
		}
	}
	.footer {
		&__wrapper {
			grid-template-columns: 370px;
			justify-content: center;
		}
	}
}

@media (max-width: 576px) {
	.container {
		width: 100%;
		padding: 0 10px;
	}
	.course__wrapper {
    	grid-template-columns: repeat(1,229px);
	}
	.promo__header {
	    margin-top: 81px;
	    font-size: 30px;
	}
	.promo__subheader {
	    color: #fff;
	    width: auto;
	    font-size: 20px;
	    margin-top: 20px;
	}
	.button {
		width: 225px;
   		height: 55px;
	}
	.promo {
		height: 300px;
		&__content {
			min-height: 300px;
		}
	}
	.prengi {
		&__wrapper {
			grid-template-columns: repeat(1,285px);
		    grid-row-gap: 25px;
		    padding-left: 0;
		}
		&__header {
			font-size: 35px;
		}
	}
	.give {
		&__items {
			display: block;
			justify-content: center;
			margin: 0 auto;
			width: 120px;
		}
		&__wrapper {
			height: 212px;
			width: 190px;
		}
		&__item {
			border: none;
		}
	}
	.give div.sim-slider-arrow-left, .give div.sim-slider-arrow-right {
		display: none;
	}
	.give .sim-slider {
	    padding: 20px 10px;
	}
	.give .sim-slider-element img {
	    width: 300px;
	    height: 250px;
	}
	.give .sim-slider {
	    height: 330px;
	    margin-top: 50px;
	}
	.give {
		span.sim-dot {
	  		display: block;
	  		display: flex;
    		justify-content: center;
		}
	}
	.advantage__wrapper {
	    grid-template-columns: repeat(auto-fill, 300px);
	    grid-row-gap: 10px;
	}
	.repository {
		&__header {
			font-size: 25px;
		}
	}
	.receive {
		&__icon {
			width: 290px;
    		height: 290px;
		}
	}
	.footer {
		&__wrapper {
			grid-template-columns: 300px;
		}
	}
}