.prengi {
	padding: 80px 0;
	&__wrapper {
		display: grid;
		grid-template-columns: repeat(3, 355px);
		justify-content: space-between;
	}
	&__item {
		border: 2px solid #ECECEC;
		border-radius: 3px;
		width: 100%;
		height: 255px;
		position: relative;
		img {
			display: block;
			margin: 0 auto;
		}
	}
	&__line {
		position: absolute;
		top: -2px;
		left: 50%;
		transform: translateX(-50%);
		width: 192px;
		height: 2px;
		background-color: #fff;
	}
	&__descr {
		position: absolute;
		bottom: 39px;
		left: 50%;
		transform: translateX(-50%);
		text-align: center;
		font-size: 18px;
		font-weight: 300;
		width: 235px;
		margin: 0 auto;
	}
	&__img {
		display: block;
		margin: 0 auto;
		margin-top: 50px;
	}
	&__header {
		font-weight: 700;
		font-size: 47px;
		color: #393939;
		text-align: center;
		margin-top: 22px;
	}
}